{% extends 'includes/base.html' %}
{% block title %}PFinance{% endblock %}
{% block styles %}
<!-- Theme Config Js -->
<script src="{{ url_for('static', filename='assets/js/hyper-config.js') }}"></script>

<!-- App css -->
<link href="{{ url_for('static', filename='assets/css/app-saas.min.css') }}" rel="stylesheet" type="text/css" id="app-style">

<!-- Icons css -->
<link href="{{ url_for('static', filename='assets/css/icons.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="content-page">
    <div class="content">   
        <!-- Start Content-->
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row mt-5">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Dashboard</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <!-- balance -->
            <section id="balance">
                <h2 class="sr-only">Valore totais</h2>
                <div class="card shadow">
                    <h3>
                        <span>Receitas</span>
                        <img src="{{ url_for('static', filename='assets/images/income.svg') }}" alt="Receitas">
                    </h3>
                    <p>{{ balance.income }}</p>
                </div>
                <div class="card shadow">
                    <h3>
                        <span>Despesas</span>
                        <img src="{{ url_for('static', filename='assets/images/expense.svg') }}" alt="Despesas">
                    </h3>
                    <p>{{ balance.expense }}</p>
                </div>
                <div class="card shadow" style="{{ balance.style }}">
                    <h3>
                        <span>Saldo</span>
                        <img src="{{ url_for('static', filename='assets/images/total.svg') }}" alt="Saldo">
                    </h3>
                    <p>{{ balance.balance }} </p>
                </div>
            </section>
            <!-- end balance-->

            <!-- Gráfico últimos 12 meses-->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="header-title">Saldo Mensal</h4>
                        </div>

                        <div class="card-body">
                            <div dir="ltr">
                                <div class="chartjs-chart" style="height: 320px;">
                                    <canvas id="task-area-chart" data-bgcolor="#727cf5" data-bordercolor="#727cf5"></canvas>
                                </div>
                            </div>
                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                </div><!-- end col-->
            </div>
            <!-- end row-->

            <!-- Extrato de receitas e despesas por categoria e subcategoria-->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="header-title">Demonstração do Resultado</h4>
                        </div>
                        <div class="card-body pt-2">
                            <div class="row">
                                <!-- Coluna de Receitas -->
                                <div class="col-md-6">
                                    <h5>Receitas</h5>
                                    <div class="accordion" id="incomesAccordion">
                                        {% for category_id, category in detail.incomes.items() %}
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="heading{{ category_id }}">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ category_id }}" aria-expanded="true" aria-controls="collapse{{ category_id }}">
                                                        <div class="row w-100">
                                                            <div class="col-md-6">
                                                                {{ category.name }}
                                                            </div>
                                                            <div class="col-md-6 text-end">
                                                                {{ category.amount }}
                                                            </div>
                                                        </div>
                                                    </button>
                                                </h2>
                                                <div id="collapse{{ category_id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ category_id }}" data-bs-parent="#incomesAccordion">
                                                    <div class="accordion-body">
                                                        {% for subcategory_id, subcategory in category.subcategories.items() %}
                                                            <div class="row mb-2">
                                                                <div class="col-md-6">
                                                                    <span>{{ subcategory.name }}</span>
                                                                </div>
                                                                <div class="col-md-6 text-end">
                                                                    <span>{{ subcategory.amount }}</span>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
            
                                <!-- Coluna de Despesas -->
                                <div class="col-md-6">
                                    <h5>Despesas</h5>
                                    <div class="accordion" id="expensesAccordion">
                                        {% for category_id, category in detail.expenses.items() %}
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingExpense{{ category_id }}">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExpense{{ category_id }}" aria-expanded="true" aria-controls="collapseExpense{{ category_id }}">
                                                        <div class="row w-100">
                                                            <div class="col-md-6">
                                                                {{ category.name }}
                                                            </div>
                                                            <div class="col-md-6 text-end">
                                                                {{ category.amount }}
                                                            </div>
                                                        </div>
                                                    </button>
                                                </h2>
                                                <div id="collapseExpense{{ category_id }}" class="accordion-collapse collapse" aria-labelledby="headingExpense{{ category_id }}" data-bs-parent="#expensesAccordion">
                                                    <div class="accordion-body">
                                                        {% for subcategory_id, subcategory in category.subcategories.items() %}
                                                            <div class="row mb-2">
                                                                <div class="col-md-6">
                                                                    <span>{{ subcategory.name }}</span>
                                                                </div>
                                                                <div class="col-md-6 text-end">
                                                                    <span>{{ subcategory.amount }}</span>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div> <!-- end row -->
                        </div> <!-- end card body -->
                    </div> <!-- end card -->
                </div> <!-- end col -->
            </div> <!-- end row -->
            <!-- end row-->
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}

{% block scripts %}
<!-- Vendor js -->
<script src="{{ url_for('static', filename='assets/js/vendor.min.js') }}"></script>

<!-- Chart js -->
<script src="{{ url_for('static', filename='assets/vendor/chart.js/chart.min.js') }}"></script>

<!-- App js -->
<script src="{{ url_for('static', filename='assets/js/app.min.js') }}"></script>

<!-- OWN js -->
<script src="{{ url_for('static', filename='assets/js/scripts.js') }}"></script>
{% endblock %}